
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>JeTe's DATA</title>
</head>
<body>
    <h1>JeTe's DATA-WEB</h1>
    <div style="width: 20%;">
        <table border="1">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for value in row %}
                            {% if forloop.first %} {# Pro první sloupec #}
                                  <td><a href="http://localhost:8080/stocks_by_year/{{ value }}">{{ value }}</a></td>
                            {% else %}
                                  <td>{{ value }}</td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <a href="http://localhost:8080/stocks/">Stocks data Visualization</a><br>
    <a href="http://ryzen5/Reports/report/Revolut_stocks_report/Revolut%20stocks">Stocks in SQL reporting services</a><br>
    <br>
    <br>

  <!-- TradingView Widget BEGIN -->
    
    <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
        
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
                
            {
            "symbols": [
            [
                "NASDAQ:NVDA|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NASDAQ:META|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NASDAQ:MSFT|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NYSE:PLTR|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NYSE:TSM|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NYSE:WPC|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NASDAQ:AMZN|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NASDAQ:TSLA|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NYSE:JPM|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div style="clear: both;"><br></div>
        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:BTCUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:ETHUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>




        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:GTCUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:SOLUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:DOGEUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


      

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:ADAUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:XRPUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>



        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:DOTUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:AVAXUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|60",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>








  <!-- TradingView Widget END -->

    
    <div style="clear: both;">
        <br>
        <iframe width="30%" height="420" frameborder="0" src="https://www.theblock.co/data/crypto-markets/bitcoin-etf/spot-bitcoin-etf-onchain-flows/embed" title="Spot Bitcoin ETF On-Chain Flows in BTC (Daily)"></iframe>
    </div>
    
</body>
</html>





