
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>JeTe's DATA</title>
</head>
<body>
    <h1>JeTe's Django Python WEB</h1>
    <a href="http://localhost:8080/stocks/">Stocks data Visualization</a><br>
    <a href="http://ryzen5/Reports/report/Revolut_stocks_report/Revolut%20stocks">Stocks in SQL reporting services</a><br>
    <br>
    <br>
    <div style="width: 100%;"></div>
        <iframe width="50%" height="420" frameborder="0" src="https://www.theblock.co/data/crypto-markets/prices/btc-price/embed" title="BTC Price"></iframe>
        <iframe width="50%" height="420" frameborder="0" src="https://www.theblock.co/data/crypto-markets/bitcoin-etf/spot-bitcoin-etf-onchain-flows/embed" title="Spot Bitcoin ETF On-Chain Flows in BTC (Daily)"></iframe>
    </bodydiv>
    <table border="1">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Trades</th>
                <th>Quantity</th>
                <th>Avg Price</th>
                <th>Weighted Avg Price</th>
                <th>Actual Price</th>
                <th>Actual Price Date</th>
                <th>Actual Prices Count</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.ticker }}</td>
                    <td>{{ row.trades }}</td>
                    <td>{{ row.quantity }}</td>
                    <td>{{ row.avg_price }}</td>
                    <td>{{ row.wavg_price }}</td>
                    <td>{{ row.actual_price }}</td>
                    <td>{{ row.actual_price_date }}</td>
                    <td>{{ row.act_prices_count }}</td>
                    <td {{ row.profit }}>{{ row.profit }}</td>
                    <!--
                    <td data-profit="{{ row.profit }}">
                        {% if row.profit is number %}
                          {{ row.profit }} (číslo)
                        {% else %}
                          {{ row.profit }} (řetězec)
                        {% endif %}
                      </td>
                    -->  
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
