
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Import Chart.js -->

    <title>JeTe's DATA</title>
</head>
<body>

    <div class="container">
        <a href="http://localhost:8080/"><img src="{% static 'pic/Jete_sims.jpg' %}" alt="JeTe face" class="my-image"></a>
        <div class="content">
            <h1>JeTe's DATA-WEB</h1>
        </div>
    </div>

    <div style="display: flex;">
        <div style="width: 15%;">
            <div style="padding: 2px; border: 1px solid #ccc;">
                <table border="1">
                    <thead>
                        <tr>
                            {% for column in columns %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                {% for value in row %}
                                    {% if forloop.first %} {# Pro první sloupec #}
                                        <td><a href="http://localhost:8080/stocks_by_year/{{ value }}">{{ value }}</a></td>
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}

                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>   
        </div>      
 <!-- GRAF --> 
        <div>
            <canvas id="myChart" style="padding-left: 20px; margin-left: auto; margin-right: auto;"></canvas> <!-- Canvas pro vykreslení grafu -->
        </div>
    </div> 

    <script>
        var canvas = document.getElementById('myChart');
        // Nastavení šířky a výšky canvasu na 15% šířky a výšky okna
        canvas.width = window.innerWidth * 0.15;
        canvas.height = window.innerHeight * 0.15;
        
        // Vložení JavaScriptu pro vykreslení grafu
        var ctx = document.getElementById('myChart').getContext('2d'); // Získání kontextu canvasu
        var data = JSON.parse('{{ chart_data|escapejs }}');
    
        // Vytvoření nové instance grafu
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data['data'].map(row => row[0]), // Roky jako kategorie na ose x
                datasets: [{
                    label: 'Investice',
                    data: data['data'].map(row => row[1]), // Data pro investice
                    yAxisID: 'investice-y-axis', // Identifikátor osy y pro investice
                    backgroundColor: 'rgba(54, 162, 235, 0.5)', // Modrá barva pro investice
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }, {
                    label: 'Dividendy',
                    data: data['data'].map(row => row[2]), // Data pro dividendy
                    yAxisID: 'dividendy-y-axis', // Identifikátor osy y pro dividendy
                    backgroundColor: 'rgba(75, 192, 192, 0.5)', // Zelená barva pro dividendy
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
        });
    </script>
        

    </div>

    <!-- GRAF INVESTIC A DIVIDEND--> 

    <!-- last DB from revolut actualization--> 
    <br>

    
    <br>
    <a href="http://localhost:8080/stocks/">Stocks data Visualization</a><br>
    <a href="http://ryzen5/Reports/report/Revolut_stocks_report/Revolut%20stocks">Stocks in SQL reporting services</a><br>
    <br>
    <br>

    <!-- GRAF INVESTIC A DIVIDEND--> 

    <!--GRAF ELEKTRINY -->
    <div id="kg_t">
        
        <div id="kg_elektrina">
           <a href="https://www.kurzy.cz/komodity/cena-elektriny-graf-vyvoje-ceny/" id="kg_elektrina" title="Elektřina"><img loading="lazy" src="https://data.kurzy.cz/komodity/grafy/elektrina-graf-cena-w670.png" alt="Elektřina - graf ceny" /></a>
        </div>
        <br>
    </div>   

    <!--GRAF ELEKTRINY -->






  <!-- TradingView Widget BEGIN -->
    
    <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
        
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
                
            {
            "symbols": [
            [
                "NASDAQ:NVDA|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NASDAQ:META|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NASDAQ:MSFT|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NYSE:PLTR|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NYSE:TSM|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NYSE:WPC|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NASDAQ:AMZN|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NASDAQ:TSLA|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "NYSE:JPM|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div style="clear: both;"><br></div>
        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:BTCUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:ETHUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>




        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:GTCUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:LDOUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:SOLUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:DOGEUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


      

        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:ADAUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:XRPUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>



        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:DOTUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


        <div class="tradingview-widget-container" style="float: left;">
            <div class="tradingview-widget-container__widget"></div>
            
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
            {
            "symbols": [
            [
                "COINBASE:AVAXUSD|1D"
            ]
            ],
            "chartOnly": false,
            "width": "400",
            "height": "400",
            "locale": "en",
            "colorTheme": "dark",
            "autosize": false,
            "showVolume": true,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "candlesticks",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "lineType": 0,
            "dateRanges": [
            "1d|15",
            "1w|1D",
            "1m|1D",
            "3m|1D",
            "12m|1D",
            "60m|1W",
            "all|1W"
            ],
            "upColor": "#22ab94",
            "downColor": "#f7525f",
            "borderUpColor": "#22ab94",
            "borderDownColor": "#f7525f",
            "wickUpColor": "#22ab94",
            "wickDownColor": "#f7525f"
        }
            </script>
        </div>


  <!-- TradingView Widget END -->


  
 <!-- THE BLOCK -->
        <div style="clear:both;"></div>  <!-- prazdny delisi DIV --> 
 
        <div class="iframe-container">
            <br>
            <iframe width="20%" height="420" frameborder="0" src="https://www.theblock.co/data/crypto-markets/bitcoin-etf/cumulative-spot-bitcoin-etf-volumes/embed" title="Cumulative Spot Bitcoin ETF Volumes"></iframe>
            <iframe width="20%" height="420" frameborder="0" src="https://www.theblock.co/data/crypto-markets/bitcoin-etf/bitcoin-spot-etf-volumes/embed" title="Spot Bitcoin ETF Volumes"></iframe>
            <iframe width="20%" height="420" frameborder="0" src="https://www.theblock.co/data/crypto-markets/bitcoin-etf/spot-bitcoin-etf-onchain-flows/embed" title="Spot Bitcoin ETF On-Chain Flows in BTC (Daily)"></iframe>
            

            <div style="clear:both;"></div>  <!-- prazdny delisi DIV --> 
            <iframe width="20%" height="420" frameborder="0" src="https://www.theblock.co/data/on-chain-metrics/bitcoin/transactions-on-the-bitcoin-network-daily/embed" title="Transactions on the Bitcoin Network (Daily, 7DMA)"></iframe>
            <iframe width="20%" height="420" frameborder="0" src="https://www.theblock.co/data/on-chain-metrics/bitcoin/bitcoins-adjusten-on-chain-volume-daily/embed" title="Bitcoin's On-Chain Volume (Daily, 7DMA)"></iframe>
            <iframe width="20%" height="420" frameborder="0" src="https://www.theblock.co/data/on-chain-metrics/bitcoin/number-of-active-addresses-on-the-bitcoin-network-7dma/embed" title="Number of Active Addresses on the Bitcoin Network (7DMA)"></iframe>
            <iframe width="20%" height="420" frameborder="0" src="https://www.theblock.co/data/on-chain-metrics/bitcoin/number-of-new-addresses-on-the-bitcoin-network-7dma/embed" title="Number of New Addresses on the Bitcoin Network (7DMA)"></iframe>
            
            <div style="clear:both;"></div>  <!-- prazdny delisi DIV --> 
            <iframe width="20%" height="420" frameborder="0" src="https://www.theblock.co/data/alternative-crypto-metrics/web-traffic/google-search-volumes/embed" title="Google Search Volumes"></iframe>
        </div>



</body>
</html>





